<div class="panel" [ngClass]="{'active':open}">
  <div class="panel-backdrop" (click)="close()"></div>
  <div class="panel-container">
    <div class="d-flex flex-column h-100" *ngIf="open">
      <app-panel-header [title]='getTitle()' (onClose)="close()"></app-panel-header>
      <app-panel-info [description]='getDescription()'></app-panel-info>
      <div class="panel-details">
        <form (submit)="save()">
          <div class="mb-3 mt-3">
            <label class="form-label">Task</label>
            <app-form-input [form]="todoForm" [name]="'task'" [type]="'textarea'"
              [placeholder]="'a quick description of the task'" [focus]="true">
            </app-form-input>
          </div>
          <div class="mb-3 mt-3">
            <div class="form-check" [formGroup]="todoForm">
              <input type="checkbox" class="form-check-input" formControlName="important">
              <label class="form-check-label">Important</label>
            </div>
          </div>
          <div class="mb-3 mt-3" *ngIf="data.item">
            <div class="form-check" [formGroup]="todoForm">
              <input type="checkbox" class="form-check-input" formControlName="completed">
              <label class="form-check-label">Completed</label>
            </div>
          </div>
          <button type="submit" class="d-none"></button>
        </form>
      </div>
      <app-panel-footer *ngIf="data.item" (onDelete)="delete()" [deleting]="deleting" (onSave)="save()" [saving]="saving" [saveLabel]="getLabel()" [saveIcon]="null"></app-panel-footer>
      <app-panel-footer *ngIf="!data.item" (onSave)="save()" [saving]="saving" [saveLabel]="getLabel()" [saveIcon]="null"></app-panel-footer>
    </div>
  </div>
</div>