<div class="panel" [ngClass]="{'active':open}">
  <div class="panel-backdrop" (click)="close()"></div>
  <div class="panel-container">
    <div class="d-flex flex-column h-100" *ngIf="open">
      <app-panel-header [title]='config.title' [description]='config.summary' (onClose)="close()"></app-panel-header>
      <app-panel-info [title]='"Instructions"'
        [description]='"In order to test this app, you will need to have a Xano account, install this marketplace extension within your workspace, and fill out the following details below."'></app-panel-info>
      <div class="panel-details">
        <form (submit)="save()" [formGroup]="setupForm">
          <p class="highlight-green">None of these are stored permanently</p>
          <div class="mb-3 mt-3">
            <label class="form-label mb-0">Xano Base URL</label>
            <small class="form-text text-muted mt-0 mb-2">Can be found in your Xano API group</small>
            <app-form-input [form]="setupForm" [name]="'xanoApiUrl'"
              [placeholder]="'enter your Xano base API endpoint.'" [focus]="true" [errors]='{"pattern":"Please enter a valid URL."}'>
            </app-form-input>
          </div>
          <button type="submit" class="d-none"></button>
        </form>
      </div>
      <app-panel-footer (onSave)="save()" [saving]="saving" [saveLabel]="'Update Settings'" [saveIcon]="null"></app-panel-footer>
    </div>
  </div>
</div>