<div class="section mb-4" style="text-align: center">
  <h2 class="header m-3" style="font-weight: 800">{{config.title}}</h2>
  <p class="text-left">{{config.summary}}</p>
  <hr class="mb-3">
</div>

<div class="row">
  <div class="col-12">
    <div class="section">
      <ng-container *ngIf="success">
        <div class="alert alert-success mb-4">
          <strong>CONGRATULATIONS!</strong> You have successfully submitted a lead through this contact form using Xano
          as
          your backend.
        </div>
      </ng-container>
      <ng-container>
        <div class="mb-4 controls d-flex" [formGroup]="searchForm">
          <div>
            <div class="input-group search">
              <input type="text" class="form-control" placeholder="Search ..." formControlName="search">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">
                  <fa-icon [icon]="search" [fixedWidth]="true"></fa-icon>
                </button>
              </div>
            </div>
            <div class="form-check mr-3">
              <input type="checkbox" class="form-check-input" formControlName="important">
              <label class="form-check-label">Important Only</label>
            </div>
  
            <div class="form-check">
              <input type="checkbox" class="form-check-input" formControlName="completed">
              <label class="form-check-label">Completed Only</label>
            </div>
          </div>

          <button type="button" class="btn btn-primary ml-auto add" (click)="addTodo()">ADD TODO</button>
        </div>
        <div>
          <ul class="pl-0">
            <li *ngFor="let item of todos" class="card mb-1 clickable" [ngClass]='{"completed":item.completed}' (click)="editTodo(item)">
              <div class="card-body d-flex justify-content-between align-items-center">
                <div class="checkbox clickable">
                  <input class="form-control clickable" type="checkbox" [(ngModel)]="item.completed"
                    (change)="updateCompleted(item)" (click)="$event.stopImmediatePropagation()">
                </div>
                <div class="content flex-fill ml-3">
                  <span>{{item.task}}</span>
                  <span class="badge badge-info ml-2" *ngIf="item.completed">completed</span>
                  <fa-icon *ngIf="item.important" [icon]="exclamation" [fixedWidth]="true"
                    class="text-warning float-right"></fa-icon>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-todo-manage></app-todo-manage>