<div style="background: black; color: white" class="p-3">
  <div class="container d-flex justify-content-between align-items-center">
    <a href="https://www.xano.com" target="_blank">
      <img src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg" class="logo clickable" />
    </a>
    <div class="xano-header">
      <a *ngIf="!isConfigured()" href="https://www.xano.com/request-early-access" target="_blank" class="mt-2"><strong>Request Xano
          access</strong></a>

      <button *ngIf="isConfigured()" type="button" class="btn btn-link" (click)="openConfig()">
        <strong>Settings</strong>
      </button>

    </div>
  </div>
</div>

<div class="container">

  <div class="card p-4 mt-4 pb-5">
    <ng-container *ngIf="!isConfigured()">
      <div class="row">
        <div class="col-9">
          <div class="section">
            <h2 class="header" style="font-weight: 800" class="mb-0">{{config.title}}</h2>
            <p>{{config.summary}}</p>
            <button type="button" class="btn btn-primary" (click)="openConfig()">
              Test with your Xano account...
            </button>
            <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">{{config.editText}}</a>
          </div>
        </div>
        <div class="col-3">
          <div class="mr-4" [innerHtml]="config.logoHtml|safeHtml"></div>
        </div>
      </div>
      <hr class="mt-4 mb-4" />
      <div class="row">
        <div class="col-12">
          <div class="section">
            <div [innerHtml]="config.descriptionHtml|safeHtml"></div>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isConfigured()">
      <div class="row" *ngIf="isConfigured()">
        <div class="col-12">
          <app-todo></app-todo>
        </div>
      </div>
    </ng-container>
  </div>
</div>



<app-config></app-config>